@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

:root {
	--background-ligth: #f4f4f4;
	--background-dark: #2b4162;
	--second-color-dark: #385f71;
}

:root {
	--background-ligth: #f4f4f4;
	--background-dark: #2b4162;
	--second-color-dark: #385f71;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* @keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
} */
/*
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
} */
